@model IEnumerable<CapstoneProject.Models.BlogInfo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfCreation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BlogUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpEmailId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfCreation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlogUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpEmailId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.BlogId }) |
                @Html.ActionLink("Details", "Details", new { id = item.BlogId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.BlogId })
            </td>
        </tr>
    }
   
</table>
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title"> ASP.Net MVC scott@gmail.com</h5>
        <p class="card-text"></p>
        <a href="#" class="btn btn-primary"> BlogUrl</a>
    </div>
</div>